/*------------------------------------------------------------------------------
|
|                           net4visions.com source code
|
|-------------------------------------------------------------------------------
|
| file:             _dStyle.css - dialog windows
| category:         stylesheet
|
| last modified:    03/02/2006
|
| description:
| this css file handles the layout of the dialog boxes (blue theme)
|
------------------------------------------------------------------------------*/

/* dialog header */
.blue div.dTitle {
	color: #6D7FAB;
	background-color: #E7EDF8;
	background-image: url(dTitleBG.gif); 	
	border-color: #AEC0E0;	
}
/* dialog content */
.blue div.dContentWrap {
	border-color: #AEC0E0;	
}
.blue div.dContent {	
	color: #333333;
	background-color: #ffffff;
}
/* dialog status */
.blue div.dStatus {
	color: #7487B3;
	background-color: #E7EDF8;
	border-color: #AEC0E0;	
}
/* dialog buttons */
.blue div.dTitleBtn input, .blue div.dBtnResize {	
	background-image: url(dImages.gif);	
}
/* modal dialog */
 div.dModal.blue,  div.dModal.blue iframe {	
	background-color: #6D7FAB;
	background-image: url(dModalBG.gif);	
}
/*----------------------------------------------------------------------------*/