/*------------------------------------------------------------------------------
|
|                           net4visions.com source code
|
|-------------------------------------------------------------------------------
|
| file:             _dStyle.css - dialog windows
| category:         stylesheet
|
| last modified:    03/02/2006
|
| description:
| this css file handles the layout of the dialog boxes (green theme)
|
------------------------------------------------------------------------------*/

/* dialog header */
.green div.dTitle {	
	color: #ffffff;
	background-color: #57812D;
	background-image: url(dTitleBG.gif);	
	border-color: #99B27F;	
}
/* dialog content */
.green div.dContentWrap {
	border-color: #99B27F;			
}
.green div.dContent {	
	color: #333333;
	background-color: #ffffff;
}
/* dialog status */
.green div.dStatus { /* height: 16 + 2 (borders) = 18px */	
	color: #57812D;
	background-color: #E3ECDB;
	border-color: #99B27F;
}
/* dialog buttons */
.green div.dTitleBtn input, .green div.dBtnResize {	
	background-image: url(dImages.gif);	
}
/* modal dialog */
div.dModal.green , div.dModal.green  iframe {	
	background-color: #b6bdd2;
	background-image: url(dModalBG.gif);	
}
/*----------------------------------------------------------------------------*/