/*------------------------------------------------------------------------------
|
|                           net4visions.com source code
|
|-------------------------------------------------------------------------------
|
| file:             _dStyle.css - dialog windows
| category:         stylesheet
|
| last modified:    03/02/2006
|
| description:
| this css file handles the layout of the dialog boxes (red theme)
|
------------------------------------------------------------------------------*/

/* dialog header */
.red div.dTitle {	
	color: #ffffff;
	background-color: #9B0000;
	background-image: url(dTitleBG.gif);
	border-color: #F1B4B4;	
}
/* dialog content */
.red div.dContentWrap {
	border-color: #F1B4B4;	
}
.red div.dContent {	
	color: #333333;
	background-color: #ffffff;
}
/* dialog status */
.red div.dStatus {
	color: #9B0000;
	background-color: #F8E2E2;
	border-color: #F1B4B4;	
}
/* dialog buttons */
.red div.dTitleBtn input, .red div.dBtnResize {	
	background-image: url(dImages.gif);	
}
/* modal dialog */
 div.dModal.red,  div.dModal.red iframe {	
	background-color: #9B0000;
	background-image: url(dModalBG.gif);	
}
/*----------------------------------------------------------------------------*/