/*------------------------------------------------------------------------------
|
|                           net4visions.com source code
|
|-------------------------------------------------------------------------------
|
| file:             _dCommon.css - dialog windows
| category:         stylesheet
|
| last modified:    02/23/2006
|
| description:
| this css file handles the layout of the dialog boxes
|
------------------------------------------------------------------------------*/
body, html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	/*overflow: visible;*/
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
/* dialog container */
div.dContainer {
	width: 400px;	
	top: 50px;
	left: 100px;
	position: absolute;
	overflow: hidden;	
}
/* dialog header */
div.dTitle { /* height: 22 + 2 (borders) = 24px */	
	position: relative;
	height: 22px;
	line-height: 22px;
	overflow: hidden;	
	background-repeat: repeat-x;	
	border: 1px solid;
}
div.dTitle span {
	padding-left: 5px;
	font-weight: bold;	
	text-transform: capitalize;
}
/* dialog content */
div.dContentWrap {
	border-right: 1px solid;	
	border-left: 1px solid;
}
div.dContent { /* height: e.g. 300 - 20 padding - 18 status - 24 title - 1 parent border */
	height: 257px;	
	overflow: auto;
}
div.dContent div {	
	padding: 10px;
}
/* dialog status */
div.dStatus { /* height: 16 + 2 (borders) = 18px */	
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	position: relative;	
	border-top: 1px solid;
	border-bottom: 1px solid;	
}
div.dStatus.hide {
	border-top: none;
	height: 0px;	
}
div.dStatus span {
	padding-left: 5px;
	font-size: 9px;	
	text-transform: capitalize;
}
/* dialog buttons */
div.dTitleBtn {
	position: absolute;
	top: 2px;
	right: 5px;
}
div.dTitleBtn input {
	float: left;
	cursor: pointer;	
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
.dBtnExpand {	
	background-position: -20px 50%;
}
.dBtnMaximize {	
	background-position: -40px 50%;
}
.dBtnClose {	
	background-position: -60px 50%;
}
div.dBtnResize {
	position: absolute;	
	right: 1px;
	bottom: -1px;
	height: 14px;
	width: 14px;		
	background-repeat: no-repeat;
	background-position: -80px 50%;
	cursor: nw-resize;	
}
/* modal dialog */
div.dModal, div.dModal iframe {		
	color: #333333;
	background-repeat: repeat;
	filter: alpha(opacity=50);	
	opacity: 0.5;	
}
/*----------------------------------------------------------------------------*/