/*------------------------------------------------------------------------------
|
|                           net4visions.com source code
|
|-------------------------------------------------------------------------------
|
| file:             _dStyle.css - dialog windows
| category:         stylesheet
|
| last modified:    03/02/2006
|
| description:
| this css file handles the layout of the dialog boxes (default theme)
|
------------------------------------------------------------------------------*/

/* dialog header */
.default div.dTitle {	
	color: #666666;
	background-color: #f0f0ee;
	background-image: url(dTitleBG.gif); 	
	border-color: #cccccc;	
}
/* dialog content */
.default div.dContentWrap {
	border-color: #cccccc;		
}
.default div.dContent {	
	color: #333333;
	background-color: #ffffff;
}
/* dialog status */
.default div.dStatus {		
	color: #666666;
	background-color: #f0f0ee;
	border-color: #cccccc;
}
/* dialog buttons */
.default div.dTitleBtn input, .default div.dBtnResize {	
	background-image: url(dImages.gif);	
}
/* modal dialog */
div.dModal.default , div.dModal.default  iframe {	
	background-color: #666666;
	background-image: url(dModalBG.gif);	
}
/*----------------------------------------------------------------------------*/